## Python Modules

### Built-in Modules (Some examples)

In [1]:
#help("modules") #this will return all the python built-in modules

#### CSV

##### Reading a csv file

In [2]:
import csv 

#copy file pathname and paste instead of mine below
filename = "/Users/emmanuel_bamidele/Desktop/Bamspace/Data_Science_Tutorial/Books/Software for STEM Grad Students/Data/Bitcoin Historical Data - Investing.com-2015_to_2022.csv"

#or

#if the file is downloaded in the same directpry, just paste the filename directly below
#filename="Bitcoin Historical Data - Investing.com-2015_to_2022.csv"

headers = []
data = []

# application of csv module to reading file

with open(filename, 'r') as csvfile:
    readcsv = csv.reader(csvfile) #create a variable that reads the csv
    headers = next(readcsv) #this returns the next row of a csv fileas a list
    
    for x in readcsv:
        data.append(x) #takes all the data in the csv file one by one
        
    print("This file has a total of {n_rows} rows".format(n_rows=readcsv.line_num)) 
    
print('Headers are: ' + ', '.join(header for header in headers))
print("\n\nThe first 3 rows of the data are: \n")

for y in data[0:3]:
    for column in y:
        print("%10s"%column),
    print('\n')

This file has a total of 2605 rows
Headers are: ï»¿Date, Price, Open, High, Low, Vol., Change %


The first 3 rows of the data are:

 16-Feb-22
 44,110.20
 44,540.90
 44,552.90
 43,692.20
    51.77K
    -0.97%


 15-Feb-22
 44,544.40
 42,550.30
 44,722.60
 42,460.10
    56.34K
     4.69%


 14-Feb-22
 42,550.30
 42,061.10
 42,799.70
 41,591.30
    53.60K
     1.16%

##### Writing a csv file

In [3]:
import csv

filepath = "/Users/emmanuel_bamidele/Desktop/Bamspace/Data_Science_Tutorial/Books/Software for STEM Grad Students/Data/cvs_file_test.csv"

header = ["Car", "Model", "Year", "Trim", "Color", "Price ($)"]
body = [["Honda", "Accord", 2019, "Sport SE", "Blue", 31000],
        ["Toyota", "Camry", 2020, "XLE", "White", 28000], 
        ["Honda", "Civic", 2021, "LX", "Red", 26000], 
        ["Toyota", "RAV 4", 2022, "XLE Hybrid", "Gray", 35000 ]]

with open(filepath, 'w', newline='') as write_csv:
    csv_writer = csv.writer(write_csv) #create the csv writer
    csv_writer.writerow(header) #write the header
    
    csv_writer.writerow(body[0])
    csv_writer.writerow(body[1])
    csv_writer.writerow(body[2])
    csv_writer.writerow(body[3])

##### Writing a csv file using DictWriter Class

In [4]:
import csv

filepath = "/Users/emmanuel_bamidele/Desktop/Bamspace/Data_Science_Tutorial/Books/Software for STEM Grad Students/Data/cvs_file_test2.csv"

fieldnames = ["Car", "Model", "Year", "Trim", "Color", "Price"]

body = [{"Car": "Honda", "Model": "Accord", "Year":2019, 
         "Trim":"Sport SE", "Color":"Blue", "Price":31000},
        {"Car": "Toyota", "Model": "Camry", "Year":2020, 
         "Trim":"XLE", "Color": "White", "Price":28000}, 
        {"Car": "Honda", "Model": "Civic", "Year":2021, 
         "Trim":"LX", "Color": "Red", "Price":26000}, 
        {"Car": "Toyota", "Model": "RAV 4", "Year":2022, 
         "Trim":"XLE Hybrid", "Color": "Gray", "Price":35000 },
       {"Car": "Honda", "Model": "Pilot", "Year":2022, 
         "Trim":"Touring", "Color": "Black", "Price":42000 }]

with open(filepath, 'w', newline='') as write_csv2:
    csv_writer = csv.DictWriter(write_csv2, fieldnames=fieldnames) #create the csv writer
    csv_writer.writeheader() #write the header
    csv_writer.writerows(body)

#### MATH

- We will demonstrate how to solve the equation below using the math module
$$
\frac{\pi^3}{12} - \frac{{\cos10}-{\tan0.5}}{\sqrt{25^3} - {e^3}}
$$

In [5]:
import math

part_a = (((math.pi)**2)/12)
part_b = ((math.cos(10)-math.tan(0.5))/(math.sqrt(25**3)-(math.e**3)))

answer = part_a -  part_b
    
print(answer)

0.8356718288192528

#### DATETIME

#### Date Class

##### Pass a date as argument and output it

In [6]:
from datetime import date

birth_date = date(1985, 11, 15) #year, month, day
print(birth_date)

1985-11-15

##### Get today's date

In [7]:
from datetime import date

today_date = date.today()

print(today_date)

2022-02-17

##### Get each of day, month and year

In [8]:
from datetime import date

today_date = date.today()

print(today_date.day)
print(today_date.month)
print(today_date.year)

17
2
2022

##### Convert timestamp to date

In [9]:
from datetime import datetime
date_time = datetime.fromtimestamp(1645079591)
print(date_time)

2022-02-16 23:33:11

##### Convert date to string

In [10]:
from datetime import date
today_date = date.today()
string_rep = date.isoformat(today_date)
print(string_rep)
print(type(string_rep))

2022-02-17
<class 'str'>

#### Time Class

##### Pass time as an argument

In [11]:
from datetime import time

task_time = time(22, 40, 15) #hour, minute, seconds
print(task_time)

22:40:15

##### Get current hours, minutes and seconds

In [12]:
from datetime import time

time_sp = time(22, 40, 15)

print(time_sp.hour)
print(time_sp.minute)
print(time_sp.second)

22
40
15

##### Convert time to string

In [13]:
from datetime import time
time_str = time(22, 40, 15)
string_rep2 =time.isoformat(time_str)
print(string_rep2)
print(type(string_rep2))

22:40:15
<class 'str'>

#### Datetime Class

##### Pass argument

In [14]:
from datetime import datetime

birth_date1 = datetime(1985, 11, 15) #passing year, month, day without time
birth_datetime = datetime(1985, 11, 15, 22, 40, 15) #passing all
print(birth_date1)
print(birth_datetime)

1985-11-15 00:00:00
1985-11-15 22:40:15

##### Get current date and time, and year, month, day, hour, minute & seconds

In [15]:
from datetime import datetime

time_now = datetime.now()

print(time_now)
print(time_now.year)
print(time_now.month)
print(time_now.day)
print(time_now.hour)
print(time_now.minute)
print(time_now.second)

2022-02-17 01:12:27.902378
2022
2
17
1
12
27

##### Define the format of the time

In [16]:
from datetime import datetime

time_now1 = datetime.now().strftime("%Y-%m-%d, %H:%M:%S")
time_now2 = datetime.now().strftime("%H:%M:%S")
time_now3 = datetime.now().strftime("%I:%M %p") #12 hours time
time_now4 = datetime.now().strftime("%H:%M")


print(time_now1)
print(time_now2)
print(time_now3)
print(time_now4)

2022-02-17, 01:12:27
01:12:27
01:12 AM
01:12

##### Include timezone

In [17]:
from datetime import datetime
from pytz import timezone

WestAfrican_time_now = datetime.now(timezone('GMT')).strftime("%Y-%m-%d, %H:%M:%S")
print(WestAfrican_time_now)

2022-02-17, 08:12:27

##### Get time for different cities

In [18]:
from datetime import datetime
from pytz import timezone

cities = ['America/Denver', 'Europe/Paris', 'Asia/Bangkok']
now_time1 = datetime.now(timezone('UTC'))

for t in cities:
    now_time = now_time1.astimezone(timezone(t))
    print(now_time.strftime("%Y-%m-%d, %H:%M:%S"))

2022-02-17, 01:12:27
2022-02-17, 09:12:27
2022-02-17, 15:12:27