### Data Type

### Tuple

In [1]:
d = ("Colorado", "Arizona", "California", "Nebraska", "New York", "Maryland")
print(len(d))

6

In [2]:
#a comma must be added at the end if it contains a single item, else it is a string
d1 = ("California")
print(type(d1))

<class 'str'>

In [3]:
d2 = ("California",)
print(type(d2))

<class 'tuple'>

In [4]:
#tuple constructor
d3 = tuple(("First", "Second", "Third"))
print(d3)
print(type(d3))

('First', 'Second', 'Third')
<class 'tuple'>

In [5]:
#tuple packing and unpacking
d4 = ("Boulder","Nigeria",29)
(University, Country, Age) = d4
print(University)
print(Country)
print(Age)

Boulder
Nigeria
29

In [6]:
#tuple packing and unpacking using (*args)
#first and last will be assigned to element without *, 
#while the remaining will be assigned to the one with the *

a, *b, c, d = (29, "Paris", "San Diego", "3100", 11101, "Atlanta")
print(a)
print(b)
print(c)
print(d)

29
['Paris', 'San Diego', '3100']
11101
Atlanta

#### Tuple Methods

In [7]:
d5 = ("one", "two", "three", "one", "one")
print(d5.count("one"))

3

In [8]:
d6 = ("one", "two", "three", "one", "one")
print(d6.index("three"))

2