### Operators

#### Arithmetic Operators

In [1]:
x = 10
y = 15.75

#Addition
add = x + y

#Subtraction
subtract = y - x

#Multiplication
mult = x*y

#Division
div = y/x #float
fl_div = y//x #floor
modulus = y%x #remainder

#Exponentiation
exponentiate = y**x

print (add)
print(subtract)
print(mult)
print(div)
print(fl_div)
print(exponentiate)
print(modulus)

25.75
5.75
157.5
1.575
1.0
939302722818.1752
5.75

#### Assignment Operators

In [2]:
m = 5

#Equal to
n = m
print(n)

#ADD and Asign
n += m
print(n)

#SUBTRACT and Asign
n -= m
print(n)

#MULTIPLY and Asign
n *= m
print(n)

#EXPONENT and Asign
n **= m
print(n)

#DIVIDE (FLOAT) and Asign
n /= m
print(n)

#DIVIDE (FLOOR) and Asign
n //= m
print(n)

#MODULUS and Asign
n %= m
print(n)

5
10
5
25
9765625
1953125.0
390625.0
0.0

#### Logical Operators

In [3]:
aa = 12

#AND
print (aa<13 and aa==12)

True

In [4]:
#OR
print (aa>13 or aa==12)

True

In [5]:
#NOT
print (not(aa<13 and aa==12))

False

#### Comparison Operators

In [6]:
i = 5.5
j = 11

#Greater Than
print(j > i)

True

In [7]:
#Less than
print(i < j)

True

In [8]:
#equal to
print(j == (i+5.5))

True

In [9]:
#equal to (check otherwise)
print(j == i)

False

In [10]:
#Not equal to
print(i!=j)

True

In [11]:
#Greater than or equal to
print(j>=i)

True

In [12]:
#Less than or equal to
print(i<=j)

True

#### Identity Operators

In [13]:
a = 15
b = 22
a2 = 15

print(a is b)

False

In [14]:
print(a is a2)

True

In [15]:
print(a is not b)

True

#### Membership Operators

In [16]:
c = [1,2,3,4]

print (2 in c)

True

In [17]:
print (5 not in c)

True

#### Bitwise Operators

Refer to https://realpython.com/python-bitwise-operators/ for details and examples