## Writing your first Python code

In [1]:
print("Hello World")

Hello World

### Comment

In [ ]:
variable = "A string variable" #This is an inline type of comment with hash mark

#This is a block type of comment
#it can be used to explain more complicated code or one that might not be familiar
#it is written on several lines
#It begins with a hash mark and single space


'''
This is another type of comment
'''

### Variables

In [2]:
# assign variables a, b, c, d, and e
a = 2
b = "This is a String variable"
c = 3.56
d = 'This is also a String variable'
e = "|"

print(a, e, b, e, c, e, d)

2 | This is a String variable | 3.56 | This is also a String variable

In [3]:
#Variable Casting
a = int(2)
b = int(2.5)
c = float(3)
d = float (3.5)
e = str(1)
f = str("|")
print (a, f, b, f, c, f, d, f, e)

2 | 2 | 3.0 | 3.5 | 1

#### Variables Type

In [4]:
#Let's get the type of the variables cast above:
print(type(a), type(b), type(c), type(d), type(e), type(f))

<class 'int'> <class 'int'> <class 'float'> <class 'float'> <class 'str'> <class 'str'>

#### Variable Names : Rules

In [15]:
#Variable cannot start with a number
1a = "Bamidele" 
print(1a)

SyntaxError: invalid syntax (3203440013.py, line 2)

In [16]:
#Variable cannot have space
a variable = "Bamidele"

SyntaxError: invalid syntax (2524437624.py, line 2)

In [17]:
#Variable cannot have hyphen
a-variable = "Bamidele"

SyntaxError: cannot assign to operator (2768388625.py, line 2)

In [37]:
#Variable can start with letters or underscores
aVariable = "Bamidele1"
a_variable = "Bamidele2"
_a_variable = "Bamidele3"
__a_variable = "Bamidele4"
print(aVariable)
print(a_variable)
print(_a_variable)
print(__a_variable)

Bamidele1
Bamidele2
Bamidele3
Bamidele4

In [13]:
#Variables are case sensitive
Variable = "Bamidele5"
variable = "Bamidele6"
print(Variable == variable) #compare the two variables and return a boolean

False

In [36]:
#Variables can contain alpha numeric characters
variable1 = "Bamidele7"
VARiable3 = "Bamidele8"
VARiable_4 = "Bamidele9"
print(variable1)
print(VARiable3)
print(VARiable_4)

Bamidele7
Bamidele8
Bamidele9

In [18]:
#Assigning many values to many variables
a, b, c = 1, 2, 3
print(a,b,c)

1 2 3

In [20]:
#Assign same value to one variable
d = e = f = 4
print(d, e, f)

4 4 4

In [21]:
#collecting variable values from a list
courses = ["Chemistry", "Biology", "Physics"]
ben, tim, tom = courses
print(ben, tim, tom)

Chemistry Biology Physics

#### Variables Output

In [27]:
w = "Emmanuel"
z = " Bamidele"

print("The author's name is: " + w + z) #you can add directly in the print statement

The author's name is: Emmanuel Bamidele

In [38]:
w = "Emmanuel"
z = " Bamidele"

print("The author's name is: " + w, z) #you can add directly or use comma in the print statement

The author's name is: Emmanuel  Bamidele

In [25]:
w = "Emmanuel"
z = " Bamidele"
y = w + z

print("The author's name is: " + y) #you use +

The author's name is: Emmanuel Bamidele

In [26]:
w = "Emmanuel"
z = " Bamidele"
y = w + z

print("The author's name is: ", y) #you can also use comma

The author's name is:  Emmanuel Bamidele

#### Global Variables

- a is a global variable because it declared outside the function
- b is a global variable because it is declared global in the function

In [32]:
a = 10
def addition():
    global b
    b = 5
    c = a + b
    return c

def subtract():
    c = addition()
    d = 20 - b
    return d

print(subtract())

15

### Operators

#### Arithmetic Operators

In [39]:
x = 10
y = 15.75

#Addition
add = x + y

#Subtraction
subtract = y - x

#Multiplication
mult = x*y

#Division
div = y/x #float
fl_div = y//x #floor
modulus = y%x #remainder

#Exponentiation
exponentiate = y**x

print (add)
print(subtract)
print(mult)
print(div)
print(fl_div)
print(exponentiate)
print(modulus)

25.75
5.75
157.5
1.575
1.0
939302722818.1752
5.75

#### Assignment Operators

In [57]:
m = 5

#Equal to
n = m
print(n)

#ADD and Asign
n += m
print(n)

#SUBTRACT and Asign
n -= m
print(n)

#MULTIPLY and Asign
n *= m
print(n)

#EXPONENT and Asign
n **= m
print(n)

#DIVIDE (FLOAT) and Asign
n /= m
print(n)

#DIVIDE (FLOOR) and Asign
n //= m
print(n)

#MODULUS and Asign
n %= m
print(n)

5
10
5
25
9765625
1953125.0
390625.0
0.0

#### Logical Operators

In [58]:
aa = 12

#AND
print (aa<13 and aa==12)

True

In [60]:
#OR
print (aa>13 or aa==12)

True

In [61]:
#NOT
print (not(aa<13 and aa==12))

False

#### Comparison Operators

In [42]:
i = 5.5
j = 11

#Greater Than
print(j > i)

True

In [44]:
#Less than
print(i < j)

True

In [46]:
#equal to
print(j == (i+5.5))

True

In [51]:
#equal to (check otherwise)
print(j == i)

False

In [47]:
#Not equal to
print(i!=j)

True

In [49]:
#Greater than or equal to
print(j>=i)

True

In [50]:
#Less than or equal to
print(i<=j)

True

#### Identity Operators

In [5]:
a = 15
b = 22
a2 = 15

print(a is b)

False

In [6]:
print(a is a2)

True

In [7]:
print(a is not b)

True

#### Membership Operators

In [3]:
c = [1,2,3,4]

print (2 in c)

True

In [4]:
print (5 not in c)

True

#### Bitwise Operators

Refer to https://realpython.com/python-bitwise-operators/ for details and examples

### Data Type

### String

In [3]:
a = "My String"
print(a[0])
print(a[1])

M
y

#### String Methods

In [4]:
b = "my String is here"
print(b.capitalize())

My string is here

In [6]:
b1 = "my String is HEre"
b2 = "der Fluß"

print(b1.casefold())
print(b2.casefold()) #converts ß to ss

my string is here
der fluss

In [21]:
b3 = "let's pad this"
b4 = "let's pad that"

b3_centered = b3.center(20)
b3_centered2 = b4.center(20,'+')
print("New string: ", b3_centered)
print("New string: ", b3_centered2)

New string:     let's pad this
New string:  +++let's pad that+++

In [24]:
b5 = "We will return this string, and see how many string"
print("# String: ", b5.count("string"))

# String:  2

In [27]:
b6 = "I am Ålex"
print(b6.encode()) #uses default UTF-8
print(b6.encode(encoding="ascii", errors="ignore"))

b'I am \xc3\x85lex'
b'I am lex'

In [29]:
b7 = "myfiles.csv"
print(b7.endswith(".csv"))

True

In [33]:
b8 = "H\te\tl\tl\to"
b9 = "H\te\tl\tl\to"
print(b8.expandtabs(2))
print(b9.expandtabs(4))

H e l l o
H   e   l   l   o

In [34]:
b10 = "Look for me"
print(b10.find("me"))

9

In [37]:
b11 = "The new Apple watch is worth $ {price:.2f}"
print(b11.format(price = 249.99))
print(b11.format(price = 250))

The new Apple watch is worth $ 249.99
The new Apple watch is worth $ 250.00

In [40]:
b12 = "My name is {fname}, my age will be {age} in the year {year}".format(
    fname="Emmanuel Bamidele", age = 30, year = 2022)
b13 = "My name is {0}, my age will be {1} in the year {2}".format(
    "Emmanuel Bamidele", 30, 2022)
b14 = "My name is {}, my age will be {} in the year {}".format(
    "Emmanuel Bamidele", 30, 2022)

print(b12)
print(b13)
print(b14)

My name is Emmanuel Bamidele, my age will be 30 in the year 2022
My name is Emmanuel Bamidele, my age will be 30 in the year 2022
My name is Emmanuel Bamidele, my age will be 30 in the year 2022

In [42]:
b15 = {'name': 'Emmanuel ', 'lname': 'Bamidele ', 'age': 29}
print('{name}, {lname}, {age}'.format_map(b15))

Emmanuel , Bamidele , 29

In [43]:
b16 = "Look for me"
print(b16.index("me"))

9

In [47]:
b17 = "Thisis51"
print(b17.isalnum())

True

In [48]:
b18 = "Thisisalphabet"
print(b18.isalpha())

True

In [49]:
b19 = "#$*%#@"
print(b19.isascii())

True

In [50]:
b20 = "\u0033"
print(b20.isdecimal())

True

In [56]:
b21 = "22"
print(b21.isdigit())

True

In [53]:
b22 = "Demo"
print(b22.isidentifier())

True

In [54]:
b23 = "smallletters"
print(b23.islower())

True

In [60]:
b24 = "589367"
print(b24.isnumeric())

True

In [65]:
b25 = "Hello! World!"
b26 = "Hello! \n World!"
print(b25.isprintable())
print(b26.isprintable())

True
False

In [67]:
b27 = "   "
print(b27.isspace())

True

In [69]:
b28 = "This Obeys Title Rule"
print(b28.istitle())

True

In [70]:
b29 = "BIG LETTERS"
print(b29.isupper())

True

In [72]:
b30 = ("Arvind", "Cliff", "Sammie")
print('#*'.join(b30))

Arvind#*Cliff#*Sammie

In [83]:
separator = ' '
b31 = {'name': 'Emmanuel', 'lname': 'Bamidele', 'age': '29'}
print(separator.join(b31.values()))

Emmanuel Bamidele 29

In [87]:
b32 = "Emmanuel"
print(b32.ljust(10), 'is my name')
print(b32.ljust(20), 'is my name')

Emmanuel   is my name
Emmanuel             is my name

In [93]:
b33 = "EMMANUEL BAMIDELE"
print(b33.lower())

emmanuel bamidele

In [94]:
b34 = "   Remove All Spaces Before "
print(b34.lstrip())

Remove All Spaces Before

In [98]:
b35 = "Hey Reader!"
table = b35.maketrans("R", "L")
print(b35.translate(table))

Hey Leader!

In [100]:
b36 = "Hey Reader thanks for reading"
print(b36.partition("thanks"))

('Hey Reader ', 'thanks', ' for reading')

In [101]:
b37 = "Hey you! thanks for reading"
print(b37.replace("reading", "leading"))

Hey Reader thanks for leading

In [104]:
b38 = "Hey you, thank you"
print(b38.rfind("you"))
print(b38.rfind("me"))

15
-1

In [103]:
b39 = "Hey you, thank you"
print(b39.rindex("you"))
print(b39.rindex("me"))

15

ValueError: substring not found

In [106]:
b40 = "Bamidele"
print(b40.rjust(10), 'is my last name')
print(b40.rjust(20, '-'), 'is my last name')

  Bamidele is my last name
------------Bamidele is my last name

In [107]:
b41 = "Hey Reader thank you for reading, thank you!"
print(b41.rpartition("thank"))

('Hey Reader thank you for reading, ', 'thank', ' you!')

In [108]:
b42 = "Niyi, Abiola, Ijaola"
print(b42.rsplit(","))

['Niyi', ' Abiola', ' Ijaola']

In [109]:
b43 = "   Remove All Spaces After    "
print(b43.rstrip())

   Remove All Spaces After

In [111]:
b44 = "Afure, Nana, Tunde"
print(b44.split(","))

['Afure', ' Nana', ' Tunde']

In [112]:
b45 = "Hey you!\nWelcome home!"
print(b45.splitlines())

['Hey you!', 'Welcome home!']

In [113]:
b46 = "r1_newfile.csv"
print(b46.startswith("r1"))

True

In [115]:
b47 = "  let's remove all outer spaces "
print(b47.strip())

let's remove all outer spaces

In [116]:
b48 = "Hello World"
print(b48.swapcase())

hELLO wORLD

In [118]:
b49 = "hello world"
print(b49.title())

Hello World

In [120]:
b50 = {"P": "S"}
b51 = "Not a Plum"
print(b51.translate(b50))

Not a Plum

In [121]:
b52 = "hello world"
print(b52.upper())

HELLO WORLD

In [123]:
b53 = "300"
print(b53.zfill(7))

0000300

### Lists

In [1]:
c = ["Emmy", "Dami", "Chidinma", "Keren", "Gerty"]
#Obtain the item at certain index
print(c[0])

Emmy

In [2]:
print(c[1])

Dami

In [3]:
print(c[1:3])

['Dami', 'Chidinma']

In [4]:
print(c[:2])

['Emmy', 'Dami']

In [5]:
print(c[-1])

Gerty

In [6]:
#Obtain the length of the list
print(len(c))

5

In [7]:
#Data Type in list
c1 = [1, 2, 3, 4, 5.5, 6.6]
c2 = ["Bodunrin", "Lee", "Baowen", "Eylem", "Raj"]
c3 = [False, True, False, False]
c4 = c1[:3] + c2[3:] + c3[0:2]

print(c1)
print(c2)
print(c3)
print(c4)

[1, 2, 3, 4, 5.5, 6.6]
['Bodunrin', 'Lee', 'Baowen', 'Eylem', 'Raj']
[False, True, False, False]
[1, 2, 3, 'Eylem', 'Raj', False, True]

In [8]:
#Check data type
print(type(c1))
print(type(c2))
print(type(c3))
print(type(c4))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [9]:
#list constructor
c5 = list(("South Africa", "USA", "Greece", "Nigeria"))
print(c5)

['South Africa', 'USA', 'Greece', 'Nigeria']

#### List Methods

In [10]:
c6 = ["Bodunrin", "Lee", "Baowen", "Eylem", "Raj"]
c7 = ['South Africa', 'USA']

c6.append("Neogi")
print(c6)
c6.append(c7)
print(c6)

['Bodunrin', 'Lee', 'Baowen', 'Eylem', 'Raj', 'Neogi']
['Bodunrin', 'Lee', 'Baowen', 'Eylem', 'Raj', 'Neogi', ['South Africa', 'USA']]

In [11]:
c8 = ["Bodunrin", "Lee", "Baowen", "Eylem", "Raj"]

c8.clear()
print(c8)

[]

In [12]:
c9 = ['South Africa', 'USA', 'Greece', 'Nigeria']
c10 = c9.copy()
print(c10)

['South Africa', 'USA', 'Greece', 'Nigeria']

In [13]:
c11 = ['South Africa', 'USA', 'Greece', 'Nigeria', "Greece"]
num = c11.count('Greece')
print(num)

2

In [14]:
c12 = ["Bodunrin", "Lee", "Baowen", "Eylem", "Raj"]
c13 = ['South Africa', 'USA']

c12.extend(c13)
print(c12)

['Bodunrin', 'Lee', 'Baowen', 'Eylem', 'Raj', 'South Africa', 'USA']

In [15]:
c14 = ['South Africa', 'USA', 'Greece', 'Nigeria', "Greece"]
num = c14.index('USA')
print(num)

1

In [16]:
c15 = ['South Africa', 'USA', 'Greece', 'Nigeria', "Australia"]
c15.insert(2, 'India')
print(c15)

['South Africa', 'USA', 'India', 'Greece', 'Nigeria', 'Australia']

In [17]:
c16 = ["Bodunrin", "Lee", "Baowen", "Eylem", "Raj"]
c16.pop(1)
print(c16)

['Bodunrin', 'Baowen', 'Eylem', 'Raj']

In [18]:
c17 = ["Bodunrin", "Lee", "Baowen", "Eylem", "Raj"]
c17.remove("Lee")
print(c17)

['Bodunrin', 'Baowen', 'Eylem', 'Raj']

In [19]:
c18 = ["Bodunrin", "Lee", "Baowen", "Eylem", "Raj"]
c18.reverse()
print(c18)

['Raj', 'Eylem', 'Baowen', 'Lee', 'Bodunrin']

In [20]:
c19 = ["Bodunrin", "Lee", "Baowen", "Eylem", "Raj"]
c19.sort() #ascending by default
print(c19)

c19.sort(reverse=True) #descending method
print(c19)

['Baowen', 'Bodunrin', 'Eylem', 'Lee', 'Raj']
['Raj', 'Lee', 'Eylem', 'Bodunrin', 'Baowen']

### Tuple

In [1]:
d = ("Colorado", "Arizona", "California", "Nebraska", "New York", "Maryland")
print(len(d))

6

In [2]:
#a comma must be added at the end if it contains a single item, else it is a string
d1 = ("California")
print(type(d1))

<class 'str'>

In [3]:
d2 = ("California",)
print(type(d2))

<class 'tuple'>

In [4]:
#tuple constructor
d3 = tuple(("First", "Second", "Third"))
print(d3)
print(type(d3))

('First', 'Second', 'Third')
<class 'tuple'>

In [5]:
#tuple packing and unpacking
d4 = ("Boulder","Nigeria",29)
(University, Country, Age) = d4
print(University)
print(Country)
print(Age)

Boulder
Nigeria
29

In [6]:
#tuple packing and unpacking using (*args)
#first and last will be assigned to element without *, 
#while the remaining will be assigned to the one with the *

a, *b, c, d = (29, "Paris", "San Diego", "3100", 11101, "Atlanta")
print(a)
print(b)
print(c)
print(d)

29
['Paris', 'San Diego', '3100']
11101
Atlanta

#### Tuple Methods

In [7]:
d5 = ("one", "two", "three", "one", "one")
print(d5.count("one"))

3

In [8]:
d6 = ("one", "two", "three", "one", "one")
print(d6.index("three"))

2

### Sets

In [1]:
e = {"one", "two", "three"}
print(e)

{'two', 'three', 'one'}

In [2]:
#duplicates are not allowed
e1 = {"one", "two", "three", "two"}
print(e1)

{'two', 'three', 'one'}

In [3]:
#obtain the length of the set
e2 = {"one", "two", "three", "two"}
print(len(e2))

3

In [4]:
#obtain the data type of a set
e3 = {"one", "two", "three"}
print(type(e3))

<class 'set'>

In [5]:
#create a set using a constructor
e4 = set(("one", "two", "three"))
print(e4)
print(type(e4))

{'two', 'three', 'one'}
<class 'set'>

#### Sets Methods

In [6]:
e5 = {"Boulder", "Houston", "Paris", "Sicily"}
e5.add("Athens")
print(e5)

{'Paris', 'Houston', 'Athens', 'Sicily', 'Boulder'}

In [7]:
e6 = {"Boulder", "Houston", "Paris", "Sicily"}
e6.clear()
print(e6)

set()

In [8]:
e7 = {"Boulder", "Houston", "Paris", "Sicily"}
e8 = e7.copy()
print(e8)

{'Paris', 'Sicily', 'Houston', 'Boulder'}

In [9]:
e9 = {"Boulder", "Houston", "Paris", "Sicily"}
e10 = {'Athens', 'Houston', 'Sicily', 'Paris', 'Boulder'}
e11 = e10.difference(e9)
print(e11)
print(e10) #the set does not get updated after substraction

{'Athens'}
{'Paris', 'Houston', 'Athens', 'Sicily', 'Boulder'}

In [10]:
e12 = {"Boulder", "Houston", "Paris", "Sicily"}
e13 = {'Athens', 'Houston', 'Sicily', 'Paris', 'Boulder'}
e13.difference_update(e12)
print(e13) #The item removed the common items

{'Athens'}

In [11]:
e14 = {"Boulder", "Houston", "Paris", "Sicily"}
e14.discard("Sicily")
print(e14)

{'Paris', 'Houston', 'Boulder'}

In [12]:
e15 = {"Boulder", "Houston", "Paris", "Sicily"}
e16 = {'Athens', 'Houston', 'Sicily', 'Paris', 'Boulder'}
e17 = e16.intersection(e15)
print(e17)
print(e16) #the set does not get updated after intersection

{'Houston', 'Boulder', 'Paris', 'Sicily'}
{'Paris', 'Houston', 'Athens', 'Sicily', 'Boulder'}

In [13]:
e18 = {"Boulder", "Houston", "Paris", "Sicily"}
e19 = {'Athens', 'Houston', 'Sicily', 'Paris', 'Boulder'}
e19.intersection_update(e18)
print(e19)  #The item removed the uncommon items

{'Houston', 'Boulder', 'Paris', 'Sicily'}

In [14]:
e20 = {"Boulder", "Houston", "Paris", "Sicily"}
e21 = {'Athens', 'Aspen'}
e22 = e20.isdisjoint(e21)
print(e22)  #The item shows if they have nothing in common

True

In [15]:
e23 = {"Boulder", "Houston", "Paris", "Sicily"}
e24 = {'Athens', 'Aspen'}
e23.add('Athens') 
e23.add('Aspen') #we have added the elements in e24

e25 = e24.issubset(e23)
print(e25)  #The item shows if e24 is a subset of e25

True

In [16]:
e26 = {"Boulder", "Houston", "Paris", "Sicily"}
e27 = {'Athens', 'Aspen'}
e26.add('Athens') 
e26.add('Aspen') #we have added the elements in e24

e28 = e23.issuperset(e24)
print(e28)  #The item shows if e24 is a subset of e25

True

In [17]:
e29 = {"Boulder", "Houston", "Paris", "Sicily"}
e29.pop()
print(e29)

{'Sicily', 'Houston', 'Boulder'}

In [18]:
e30 = {"Boulder", "Houston", "Paris", "Sicily"}
e30.remove("Sicily")
print(e30)

{'Paris', 'Houston', 'Boulder'}

In [19]:
e31 = {"Boulder", "Houston", "Sicily"}
e32 = {'Athens', 'Sicily', 'Paris', 'Boulder'}
e33 = e31.symmetric_difference(e32)
print(e33) #the set contains all items 
#except those in common
print(e31) #e31 retains its items

{'Paris', 'Houston', 'Athens'}
{'Sicily', 'Houston', 'Boulder'}

In [20]:
e34 = {"Boulder", "Houston", "Sicily"}
e35 = {'Athens', 'Sicily', 'Paris', 'Boulder'}
e34.symmetric_difference_update(e35)
print(e34) #e34 set now contains all 
#items except those in common

{'Paris', 'Houston', 'Athens'}

In [21]:
e36 = {"Boulder", "Houston", "Sicily"}
e37 = {'Athens', 'Sicily', 'Paris', 'Boulder'}
e38 = e36.union(e37)
print(e38) #e38 contains all items in both set

{'Sicily', 'Paris', 'Houston', 'Athens', 'Boulder'}

In [22]:
e39 = {'Athens', 'Sicily', 'Paris', 'Boulder'}
e40 = {"Boulder", "Houston", "Sicily"}
e40.update(e39)
print(e40) #e39 is updated with e40

{'Sicily', 'Paris', 'Houston', 'Athens', 'Boulder'}

### Dictionary

In [1]:
g = {"First":1, "Second":2, "Long":True, "Luxury":"Yes"}
print(g)

{'First': 1, 'Second': 2, 'Long': True, 'Luxury': 'Yes'}

In [2]:
g1 = {"Brand":"Honda", "Model": "Accord", "Year": 2022, "Mileage":7}
print(g1["Model"]) #returns the value for the Model key
print(g1[1]) #returns an error

Accord

KeyError: 1

In [3]:
g2 = {"Brand":"Honda", "Model": "Accord", "Year": 2022, "Mileage":7, "Mileage": 5}
print(g2) #returns the modified value of Mileage

{'Brand': 'Honda', 'Model': 'Accord', 'Year': 2022, 'Mileage': 5}

In [4]:
g3 = {"Brand":"Honda", "Model": "Accord", "Year": 2022, "Mileage":7}
print(len(g3))

4

In [5]:
g4 = {"Brand":"Honda", "Model": "Accord", "Year": 2022, "Mileage":7}
print(type(g4))

<class 'dict'>

#### Dictionary Methods

In [6]:
g5 = {"Brand":"Honda", "Model": "Accord",
      "Year": 2022, "Mileage":7}
g5.clear()
print(g5)

{}

In [7]:
g6 = {"Brand":"Honda", "Model": "Accord"}
g7 = g6.copy()
print(g7)

{'Brand': 'Honda', 'Model': 'Accord'}

In [8]:
g8 = ("Tim's Age", "Tom's Age")
g9 = 30
g10 = 29, 30

g11 = dict.fromkeys(g8,g9)
g12 = dict.fromkeys(g8, g10)
print(g11)
print(g12) #does not assign each

{"Tim's Age": 30, "Tom's Age": 30}
{"Tim's Age": (29, 30), "Tom's Age": (29, 30)}

In [9]:
g13 = {"Brand":"Honda", "Model": "Accord"}
print(g13.get('Brand'))

Honda

In [10]:
g14 = {"Brand":"Honda", "Model": "Accord"}
print(g14.items())
print(type(g14.items()))

dict_items([('Brand', 'Honda'), ('Model', 'Accord')])
<class 'dict_items'>

In [11]:
g15 = {"Brand":"Honda", "Model": "Accord",
      "Year": 2022, "Mileage":7}
print(g15.keys())
print(type(g15.items()))

dict_keys(['Brand', 'Model', 'Year', 'Mileage'])
<class 'dict_items'>

In [12]:
g16 = {"Brand":"Honda", "Model": "Accord",
      "Year": 2022, "Mileage":7}
g17 = g16.pop("Mileage")
print(g17) #assigns popped item to g17
print(g16) #removed popped item from g16

7
{'Brand': 'Honda', 'Model': 'Accord', 'Year': 2022}

In [1]:
g18 = {"Brand":"Honda", "Model": "Accord",
      "Year": 2022}
g19 = g18.popitem()
print(g19) #assigns last item to g19
print(g18) #retains last item from g18

('Year', 2022)
{'Brand': 'Honda', 'Model': 'Accord'}

In [14]:
g20 = {"Brand":"Honda", "Model": "Accord",
      "Year": 2022}
g21 = g20.setdefault('Year', 2021)
g22 = g20.setdefault('EV', "Yes")
print(g21) #it exisit, no assignment
print(g22) #doesn't exist, assigns
print(g20) #now added

2022
Yes
{'Brand': 'Honda', 'Model': 'Accord', 'Year': 2022, 'EV': 'Yes'}

In [15]:
g23 = {"Brand":"Honda", "Model": "Accord"}
g23.update({'Year': 2021})
print(g23) #now added

{'Brand': 'Honda', 'Model': 'Accord', 'Year': 2021}

In [16]:
g24 = {"Brand":"Honda", "Model": "Accord",
      "Year": 2022}
g25 = g24.values()
print(g25) #a list of values
print(type(g25))

dict_values(['Honda', 'Accord', 2022])
<class 'dict_values'>

## Conditional Statements in Python

#### Structure of if conditional statement

if [expression]:<br>
&emsp;&emsp;statement

#### Examples of statements

In [1]:
a = 4
b = 5 

if a < 5:
    print("Yes, it is")

Yes, it is

In [2]:
if a == 5:
    print("Yes, a is 5")

In [3]:
if a > 4:
    print("Yes, it is greater")

In [4]:
if a >= 4:
    print("Yes, it is either 4 or greater")

Yes, it is either 4 or greater

In [5]:
if a == 4 or b == 4:
    print("Yes, it is")

Yes, it is

In [6]:
if a == 4 and b == 5:
    print("Yes, it is")

Yes, it is

In [7]:
a_list = ["one", "two", "three", "four", "five"]

if "three" in a_list:
    print("Yes, it is there")

Yes, it is there

In [8]:
if "ee" in "three":
    print("Yes, it is")

Yes, it is

#### A typical structure of if conditional statement

if [Boolean Expression]:<br>
&emsp;&emsp;statement1 <br>
&emsp;&emsp;statement2 <br>
&emsp;&emsp;statement3 <br>
&emsp;&emsp;... <br>
&emsp;&emsp;statement

#### Example of Group Conditional Statements

In [9]:
b_list = ["bar", "pub", "drinks", "beer", "cup"]

if "beer" in b_list:
    print("beer is in the list")
    pos = b_list.index("beer")
    print(pos)
    print("Done")

beer is in the list
3
Done

#### else and elif

In [10]:
c_list = [1,2,3,4,5,6,7]

if 6 in c_list:
    print("Yes 6 is in it")
elif 5 in c_list:
    print("Yes, 5 is in it")
elif 8 in c_list:
    print("Yes, 8 is in it")
else:
    c_list.append(10)
    print(c_list)

Yes 6 is in it

In [11]:
c_list = [1,2,3,4,5,6,7]

if 10 in c_list:
    print("Yes 10 is in it")
elif 5 in c_list:
    print("Yes, 5 is in it")
elif 8 in c_list:
    print("Yes, 8 is in it")
else:
    c_list.append(10)
    print(c_list)

Yes, 5 is in it

In [12]:
c_list = [1,2,3,4,5,6,7]

if 10 in c_list:
    print("Yes 10 is in it")
elif 15 in c_list:
    print("Yes, 15 is in it")
elif 7 in c_list:
    print("Yes, 7 is in it")
else:
    c_list.append(10)
    print(c_list)

Yes, 7 is in it

In [13]:
c_list = [1,2,3,4,5,6,7]

if 10 in c_list:
    print("Yes 10 is in it")
elif 15 in c_list:
    print("Yes, 15 is in it")
elif 8 in c_list:
    print("Yes, 8 is in it")
else:
    c_list.append(10) #adds 10 to the list if none of the previous expression is true
    print(c_list)

[1, 2, 3, 4, 5, 6, 7, 10]

#### Another Example of if, elif and else conditions

In [14]:
Temperature = 84

if Temperature > 84:
    print("The weather is hot")
elif Temperature == 84:
    print("The weather is average")
else:
    print("The weather is cold")

The weather is average

### While Loop

while [Boolean expression]:<br>
&emsp;&emsp;statement1<br>
&emsp;&emsp;statement2<br>
&emsp;&emsp;statement3<br>
&emsp;&emsp;...<br>
&emsp;&emsp;statementN<br>

In [15]:
centuries = []

i=1900
while i < 3000:
    i +=100
    centuries.append(i)
    print(centuries)

[2000]
[2000, 2100]
[2000, 2100, 2200]
[2000, 2100, 2200, 2300]
[2000, 2100, 2200, 2300, 2400]
[2000, 2100, 2200, 2300, 2400, 2500]
[2000, 2100, 2200, 2300, 2400, 2500, 2600]
[2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700]
[2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800]
[2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800, 2900]
[2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000]

In [16]:
centuries = []

i=1900
while i < 3000:
    i +=100
    centuries.append(i)
    if i >= 2500:
        break
    print(centuries)

[2000]
[2000, 2100]
[2000, 2100, 2200]
[2000, 2100, 2200, 2300]
[2000, 2100, 2200, 2300, 2400]

#### Using while, if, continue and else.

In [17]:
centuries = []

i=1900
while i < 3000:
    i +=100
    centuries.append(i)
    if i >= 2500:
        continue
    print(centuries)
    
else:
    print("Done")

[2000]
[2000, 2100]
[2000, 2100, 2200]
[2000, 2100, 2200, 2300]
[2000, 2100, 2200, 2300, 2400]
Done

### For Loop

#### Structure of a for loop

for i in list:<br>
&emsp;&emsp;statement1<br>
&emsp;&emsp;statement2<br>
&emsp;&emsp;statement3<br>
&emsp;&emsp;...<br>
&emsp;&emsp;statementN<br>

#### list

In [18]:
d_list = [1,2,3,4,5,6]

for i in d_list:
    print(i)

1
2
3
4
5
6

#### string

In [19]:
for x in "character":
    print(x)

c
h
a
r
a
c
t
e
r

#### Dictionary

In [20]:
people = {"John": 28, "Tim": 30, "Tom": 32}

for i, j in people.items():
    print("Name = ", i, " Age = ", j )

Name =  John  Age =  28
Name =  Tim  Age =  30
Name =  Tom  Age =  32

#### Range

In [21]:
for x in range(6):
    print(x)

0
1
2
3
4
5

#### For Loop Exit

In [22]:
for x in range(6):
    if x > 3:
        break
    print(x)

0
1
2
3

In [23]:
for x in range(6):
    if x > 4:
        continue
    print(x)

0
1
2
3
4

In [24]:
for x in range(6):
    print(x)
else:
    print("Completed")

0
1
2
3
4
5
Completed

In [25]:
for x in range(6):
    for y in range(3):
        print("x = ", x, 'y = ',y)

x =  0 y =  0
x =  0 y =  1
x =  0 y =  2
x =  1 y =  0
x =  1 y =  1
x =  1 y =  2
x =  2 y =  0
x =  2 y =  1
x =  2 y =  2
x =  3 y =  0
x =  3 y =  1
x =  3 y =  2
x =  4 y =  0
x =  4 y =  1
x =  4 y =  2
x =  5 y =  0
x =  5 y =  1
x =  5 y =  2

### Keywords in Python

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### True or False Keywords

In [3]:
3 == 3

True

In [4]:
6 > 2

True

In [5]:
True or False

True

In [6]:
1 >= 10

False

In [7]:
2 > 9

False

In [8]:
#True can also be represented as 1
#False is represented as 0

print((True == 1),(False==0))

True True

#### None

In [9]:
None == 0

False

In [10]:
None == False

False

In [11]:
None == []

False

In [12]:
a = None
b = None
a == b

True

#### as

In [13]:
import math as mth
print(mth.pi)

3.141592653589793

#### assert

In [14]:
y = 25
assert y < 15

AssertionError:

In [15]:
assert y < 30

#### and, or, not

In [16]:
a = 1
b = 2
c = 3
d = 4

print((a+b) ==3 and c ==3)

True

In [17]:
print (d == 3 or c == 3)

True

In [18]:
print (d is not 3)

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
/var/folders/sn/f5tw20014xv6btlq0tlfyrnr0000gn/T/ipykernel_24313/3955131932.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print (d is not 3)