## Conditional Statements in Python

#### Structure of if conditional statement

if [expression]:<br>
&emsp;&emsp;statement

#### Examples of statements

In [1]:
a = 4
b = 5 

if a < 5:
    print("Yes, it is")

Yes, it is

In [2]:
if a == 5:
    print("Yes, a is 5")

In [3]:
if a > 4:
    print("Yes, it is greater")

In [4]:
if a >= 4:
    print("Yes, it is either 4 or greater")

Yes, it is either 4 or greater

In [5]:
if a == 4 or b == 4:
    print("Yes, it is")

Yes, it is

In [6]:
if a == 4 and b == 5:
    print("Yes, it is")

Yes, it is

In [7]:
a_list = ["one", "two", "three", "four", "five"]

if "three" in a_list:
    print("Yes, it is there")

Yes, it is there

In [8]:
if "ee" in "three":
    print("Yes, it is")

Yes, it is

#### A typical structure of if conditional statement

if [Boolean Expression]:<br>
&emsp;&emsp;statement1 <br>
&emsp;&emsp;statement2 <br>
&emsp;&emsp;statement3 <br>
&emsp;&emsp;... <br>
&emsp;&emsp;statement

#### Example of Group Conditional Statements

In [9]:
b_list = ["bar", "pub", "drinks", "beer", "cup"]

if "beer" in b_list:
    print("beer is in the list")
    pos = b_list.index("beer")
    print(pos)
    print("Done")

beer is in the list
3
Done

#### else and elif

In [10]:
c_list = [1,2,3,4,5,6,7]

if 6 in c_list:
    print("Yes 6 is in it")
elif 5 in c_list:
    print("Yes, 5 is in it")
elif 8 in c_list:
    print("Yes, 8 is in it")
else:
    c_list.append(10)
    print(c_list)

Yes 6 is in it

In [11]:
c_list = [1,2,3,4,5,6,7]

if 10 in c_list:
    print("Yes 10 is in it")
elif 5 in c_list:
    print("Yes, 5 is in it")
elif 8 in c_list:
    print("Yes, 8 is in it")
else:
    c_list.append(10)
    print(c_list)

Yes, 5 is in it

In [12]:
c_list = [1,2,3,4,5,6,7]

if 10 in c_list:
    print("Yes 10 is in it")
elif 15 in c_list:
    print("Yes, 15 is in it")
elif 7 in c_list:
    print("Yes, 7 is in it")
else:
    c_list.append(10)
    print(c_list)

Yes, 7 is in it

In [13]:
c_list = [1,2,3,4,5,6,7]

if 10 in c_list:
    print("Yes 10 is in it")
elif 15 in c_list:
    print("Yes, 15 is in it")
elif 8 in c_list:
    print("Yes, 8 is in it")
else:
    c_list.append(10) #adds 10 to the list if none of the previous expression is true
    print(c_list)

[1, 2, 3, 4, 5, 6, 7, 10]

#### Another Example of if, elif and else conditions

In [14]:
Temperature = 84

if Temperature > 84:
    print("The weather is hot")
elif Temperature == 84:
    print("The weather is average")
else:
    print("The weather is cold")

The weather is average

### While Loop

while [Boolean expression]:<br>
&emsp;&emsp;statement1<br>
&emsp;&emsp;statement2<br>
&emsp;&emsp;statement3<br>
&emsp;&emsp;...<br>
&emsp;&emsp;statementN<br>

In [15]:
centuries = []

i=1900
while i < 3000:
    i +=100
    centuries.append(i)
    print(centuries)

[2000]
[2000, 2100]
[2000, 2100, 2200]
[2000, 2100, 2200, 2300]
[2000, 2100, 2200, 2300, 2400]
[2000, 2100, 2200, 2300, 2400, 2500]
[2000, 2100, 2200, 2300, 2400, 2500, 2600]
[2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700]
[2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800]
[2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800, 2900]
[2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000]

In [16]:
centuries = []

i=1900
while i < 3000:
    i +=100
    centuries.append(i)
    if i >= 2500:
        break
    print(centuries)

[2000]
[2000, 2100]
[2000, 2100, 2200]
[2000, 2100, 2200, 2300]
[2000, 2100, 2200, 2300, 2400]

#### Using while, if, continue and else.

In [17]:
centuries = []

i=1900
while i < 3000:
    i +=100
    centuries.append(i)
    if i >= 2500:
        continue
    print(centuries)
    
else:
    print("Done")

[2000]
[2000, 2100]
[2000, 2100, 2200]
[2000, 2100, 2200, 2300]
[2000, 2100, 2200, 2300, 2400]
Done

### For Loop

#### Structure of a for loop

for i in list:<br>
&emsp;&emsp;statement1<br>
&emsp;&emsp;statement2<br>
&emsp;&emsp;statement3<br>
&emsp;&emsp;...<br>
&emsp;&emsp;statementN<br>

#### list

In [18]:
d_list = [1,2,3,4,5,6]

for i in d_list:
    print(i)

1
2
3
4
5
6

#### string

In [19]:
for x in "character":
    print(x)

c
h
a
r
a
c
t
e
r

#### Dictionary

In [20]:
people = {"John": 28, "Tim": 30, "Tom": 32}

for i, j in people.items():
    print("Name = ", i, " Age = ", j )

Name =  John  Age =  28
Name =  Tim  Age =  30
Name =  Tom  Age =  32

#### Range

In [21]:
for x in range(6):
    print(x)

0
1
2
3
4
5

#### For Loop Exit

In [22]:
for x in range(6):
    if x > 3:
        break
    print(x)

0
1
2
3

In [23]:
for x in range(6):
    if x > 4:
        continue
    print(x)

0
1
2
3
4

In [24]:
for x in range(6):
    print(x)
else:
    print("Completed")

0
1
2
3
4
5
Completed

In [25]:
for x in range(6):
    for y in range(3):
        print("x = ", x, 'y = ',y)

x =  0 y =  0
x =  0 y =  1
x =  0 y =  2
x =  1 y =  0
x =  1 y =  1
x =  1 y =  2
x =  2 y =  0
x =  2 y =  1
x =  2 y =  2
x =  3 y =  0
x =  3 y =  1
x =  3 y =  2
x =  4 y =  0
x =  4 y =  1
x =  4 y =  2
x =  5 y =  0
x =  5 y =  1
x =  5 y =  2