### Variables

In [1]:
# assign variables a, b, c, d, and e
a = 2
b = "This is a String variable"
c = 3.56
d = 'This is also a String variable'
e = "|"

print(a, e, b, e, c, e, d)

2 | This is a String variable | 3.56 | This is also a String variable

In [2]:
#Variable Casting
a = int(2)
b = int(2.5)
c = float(3)
d = float (3.5)
e = str(1)
f = str("|")
print (a, f, b, f, c, f, d, f, e)

2 | 2 | 3.0 | 3.5 | 1

#### Variables Type

In [3]:
#Let's get the type of the variables cast above:
print(type(a), type(b), type(c), type(d), type(e), type(f))

<class 'int'> <class 'int'> <class 'float'> <class 'float'> <class 'str'> <class 'str'>

#### Variable Names : Rules

In [4]:
#Variable cannot start with a number
1a = "Bamidele" 
print(1a)

SyntaxError: invalid syntax (3203440013.py, line 2)

In [5]:
#Variable cannot have space
a variable = "Bamidele"

SyntaxError: invalid syntax (2524437624.py, line 2)

In [6]:
#Variable cannot have hyphen
a-variable = "Bamidele"

SyntaxError: cannot assign to operator (2768388625.py, line 2)

In [7]:
#Variable can start with letters or underscores
aVariable = "Bamidele1"
a_variable = "Bamidele2"
_a_variable = "Bamidele3"
__a_variable = "Bamidele4"
print(aVariable)
print(a_variable)
print(_a_variable)
print(__a_variable)

Bamidele1
Bamidele2
Bamidele3
Bamidele4

In [8]:
#Variables are case sensitive
Variable = "Bamidele5"
variable = "Bamidele6"
print(Variable == variable) #compare the two variables and return a boolean

False

In [9]:
#Variables can contain alpha numeric characters
variable1 = "Bamidele7"
VARiable3 = "Bamidele8"
VARiable_4 = "Bamidele9"
print(variable1)
print(VARiable3)
print(VARiable_4)

Bamidele7
Bamidele8
Bamidele9

In [10]:
#Assigning many values to many variables
a, b, c = 1, 2, 3
print(a,b,c)

1 2 3

In [11]:
#Assign same value to one variable
d = e = f = 4
print(d, e, f)

4 4 4

In [12]:
#collecting variable values from a list
courses = ["Chemistry", "Biology", "Physics"]
ben, tim, tom = courses
print(ben, tim, tom)

Chemistry Biology Physics

#### Variables Output

In [13]:
w = "Emmanuel"
z = " Bamidele"

print("The author's name is: " + w + z) #you can add directly in the print statement

The author's name is: Emmanuel Bamidele

In [14]:
w = "Emmanuel"
z = " Bamidele"

print("The author's name is: " + w, z) #you can add directly or use comma in the print statement

The author's name is: Emmanuel  Bamidele

In [15]:
w = "Emmanuel"
z = " Bamidele"
y = w + z

print("The author's name is: " + y) #you use +

The author's name is: Emmanuel Bamidele

In [16]:
w = "Emmanuel"
z = " Bamidele"
y = w + z

print("The author's name is: ", y) #you can also use comma

The author's name is:  Emmanuel Bamidele

#### Global Variables

- a is a global variable because it declared outside the function
- b is a global variable because it is declared global in the function

In [17]:
a = 10
def addition():
    global b
    b = 5
    c = a + b
    return c

def subtract():
    c = addition()
    d = 20 - b
    return d

print(subtract())

15