### Data Type

### Sets

In [1]:
e = {"one", "two", "three"}
print(e)

{'two', 'one', 'three'}

In [2]:
#duplicates are not allowed
e1 = {"one", "two", "three", "two"}
print(e1)

{'two', 'one', 'three'}

In [3]:
#obtain the length of the set
e2 = {"one", "two", "three", "two"}
print(len(e2))

3

In [4]:
#obtain the data type of a set
e3 = {"one", "two", "three"}
print(type(e3))

<class 'set'>

In [5]:
#create a set using a constructor
e4 = set(("one", "two", "three"))
print(e4)
print(type(e4))

{'two', 'one', 'three'}
<class 'set'>

#### Sets Methods

In [6]:
e5 = {"Boulder", "Houston", "Paris", "Sicily"}
e5.add("Athens")
print(e5)

{'Boulder', 'Houston', 'Sicily', 'Athens', 'Paris'}

In [7]:
e6 = {"Boulder", "Houston", "Paris", "Sicily"}
e6.clear()
print(e6)

set()

In [8]:
e7 = {"Boulder", "Houston", "Paris", "Sicily"}
e8 = e7.copy()
print(e8)

{'Sicily', 'Paris', 'Houston', 'Boulder'}

In [9]:
e9 = {"Boulder", "Houston", "Paris", "Sicily"}
e10 = {'Athens', 'Houston', 'Sicily', 'Paris', 'Boulder'}
e11 = e10.difference(e9)
print(e11)
print(e10) #the set does not get updated after substraction

{'Athens'}
{'Boulder', 'Houston', 'Sicily', 'Athens', 'Paris'}

In [10]:
e12 = {"Boulder", "Houston", "Paris", "Sicily"}
e13 = {'Athens', 'Houston', 'Sicily', 'Paris', 'Boulder'}
e13.difference_update(e12)
print(e13) #The item removed the common items

{'Athens'}

In [11]:
e14 = {"Boulder", "Houston", "Paris", "Sicily"}
e14.discard("Sicily")
print(e14)

{'Paris', 'Houston', 'Boulder'}

In [12]:
e15 = {"Boulder", "Houston", "Paris", "Sicily"}
e16 = {'Athens', 'Houston', 'Sicily', 'Paris', 'Boulder'}
e17 = e16.intersection(e15)
print(e17)
print(e16) #the set does not get updated after intersection

{'Paris', 'Boulder', 'Houston', 'Sicily'}
{'Boulder', 'Houston', 'Sicily', 'Athens', 'Paris'}

In [13]:
e18 = {"Boulder", "Houston", "Paris", "Sicily"}
e19 = {'Athens', 'Houston', 'Sicily', 'Paris', 'Boulder'}
e19.intersection_update(e18)
print(e19)  #The item removed the uncommon items

{'Paris', 'Boulder', 'Houston', 'Sicily'}

In [14]:
e20 = {"Boulder", "Houston", "Paris", "Sicily"}
e21 = {'Athens', 'Aspen'}
e22 = e20.isdisjoint(e21)
print(e22)  #The item shows if they have nothing in common

True

In [15]:
e23 = {"Boulder", "Houston", "Paris", "Sicily"}
e24 = {'Athens', 'Aspen'}
e23.add('Athens') 
e23.add('Aspen') #we have added the elements in e24

e25 = e24.issubset(e23)
print(e25)  #The item shows if e24 is a subset of e25

True

In [16]:
e26 = {"Boulder", "Houston", "Paris", "Sicily"}
e27 = {'Athens', 'Aspen'}
e26.add('Athens') 
e26.add('Aspen') #we have added the elements in e24

e28 = e23.issuperset(e24)
print(e28)  #The item shows if e24 is a subset of e25

True

In [17]:
e29 = {"Boulder", "Houston", "Paris", "Sicily"}
e29.pop()
print(e29)

{'Paris', 'Houston', 'Boulder'}

In [18]:
e30 = {"Boulder", "Houston", "Paris", "Sicily"}
e30.remove("Sicily")
print(e30)

{'Paris', 'Houston', 'Boulder'}

In [19]:
e31 = {"Boulder", "Houston", "Sicily"}
e32 = {'Athens', 'Sicily', 'Paris', 'Boulder'}
e33 = e31.symmetric_difference(e32)
print(e33) #the set contains all items 
#except those in common
print(e31) #e31 retains its items

{'Houston', 'Athens', 'Paris'}
{'Sicily', 'Houston', 'Boulder'}

In [20]:
e34 = {"Boulder", "Houston", "Sicily"}
e35 = {'Athens', 'Sicily', 'Paris', 'Boulder'}
e34.symmetric_difference_update(e35)
print(e34) #e34 set now contains all 
#items except those in common

{'Houston', 'Athens', 'Paris'}

In [21]:
e36 = {"Boulder", "Houston", "Sicily"}
e37 = {'Athens', 'Sicily', 'Paris', 'Boulder'}
e38 = e36.union(e37)
print(e38) #e38 contains all items in both set

{'Sicily', 'Athens', 'Paris', 'Boulder', 'Houston'}

In [22]:
e39 = {'Athens', 'Sicily', 'Paris', 'Boulder'}
e40 = {"Boulder", "Houston", "Sicily"}
e40.update(e39)
print(e40) #e39 is updated with e40

{'Sicily', 'Athens', 'Paris', 'Boulder', 'Houston'}